MODE=LOCAL

REDIS_CACHE_HOST=redis_cache
REDIS_CACHE_PORT=6379
REDIS_CACHE_PASS=pass_for_redis

REDIS_CACHE_DEFAULT_TTL=3600
CACHE_TTL_POST=7200
CACHE_TTL_USER_POSTS=300



DB_NAME=blog_db
DB_HOST=db
DB_PORT=5432
DB_USER=blog
DB_PASS=my_strong_pass!

TIME_ZONE=europe/moscow